* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-white);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-image: url(./img/portada2.png);
  font-family: 'Big Shoulders Display', sans-serif;
}

.color {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000, transparent);
  position: fixed;
  z-index: 1;
}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
}

.header {
  display: grid;
  height: 50vh;
  align-items: center;
  grid-template-columns: 95%;
  justify-content: center;
  z-index: 100;
}

.card-header{
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  margin-top: 0.5rem;
}

.title-huddle {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: #fff;
}

.huddle-block {
  display: block;
  font-size: 4rem;
}

.description{
  width: 85%;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  border-radius: 0.5rem;
  border: transparent;
  color: hsl(0, 0%, 100%);
  padding: 0.8em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  width: 175px;
  gap: 1rem;
  transition: all 0.5s ease-in;
}

.btn-dark-cyan {
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
}

.btn-dark-cyan:hover {
  border: 2px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 8%);
}

.gallery{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh;
  grid-template-columns: 95%;
  z-index: 100;
}

.content-gallery{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.8rem;
}

.container-imagen img {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%; 
  height: 40vh;
  object-fit:cover;
}
 
/* ===== RESPONSIVE ===== */
@media (min-width: 599px) and (max-width: 850px){
  .card-header {
    margin-top: 0.5rem;
  }

  .title-huddle {
    font-size: 2.5rem;
    text-align: center;
  }

  .huddle-block {
    font-size: 2.5rem;
  }

  .description {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }

  .card-header {
    align-items: center;
  }

  .content-gallery {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  .gallery {
    height: 60vh;
  }
}

@media (max-width: 600px){
  .card-header {
    margin-top: 0.5rem;
  }

  .title-huddle {
    font-size: 2.5rem;
    text-align: center;
  }

  .huddle-block {
    font-size: 2.5rem;
  }

  .description {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }

  .card-header {
    align-items: center;
  }

  .content-gallery {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}